{% load static %}

* {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Inter';
}

body {
    display: flex;
    flex-direction: column;
    background: #00B2FF;
    min-height: 100vh;
}

header {
    color: white;
    width: auto;
    display: flex;
    align-items: center;
    height: 100px;
    background: #004E70;
    padding-left: 60px;
    padding-right: 60px;
}

main {
    height: 100%;
    padding: 0px;
    flex-grow: 1;
    width: auto;

}

.content {
    position: relative;
    height: 100%;
    padding: 140px 60px 210px 60px;
    flex-grow: 1;
    width: auto;

    background-image: url("../img/background_main.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
main div h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

footer {
    display: flex;
    align-items: center;
    opacity: 50%;
    color: white;
    flex-shrink: 0;
    height: 50px;
    background: black;
    position: relative;
}

footer p {
    text-align: center;
}

.logo {
    flex: 0 0 18em;
    height: 70px;
    font-style: italic;
    font-weight: 800;
    line-height: 44px;
}

.logo a, .logo a:visited {
    text-decoration: none;
    color: white;
}

.logo img {
    width: 43.84px;
    height: 41.34px;
}

.logo h1 {
    display: inline;
}

.menu {
    font-weight: 300;
    font-size: 20px;
    line-height: 50px;
}

.menu a, .menu a:visited {
    text-decoration: none;
    color: white;
}

.menu li {
    display: inline;
    padding: 10px
}

.login {
    display: flex;
    font-weight: 300;
    font-size: 20px;
    line-height: 50px;
    text-align: right;
}

.login li {
    display: inline;
    padding: 10px
}

.login a:hover, .menu a:hover {
    color: yellow;
}

.login img {
    height: 28px;
    width: 28px;
}

.login a, .login a:visited {
    text-decoration: none;
    color: white;
}

.search_content {
    background: rgb(0, 0, 0, 1);
    border-radius: 5px;
    color: white;
    width: auto;
    height: 200px;
    padding: 60px;
}

.search_content hr {
    margin-top: 20px;
}

.search_form_position {
    position: relative;
    z-index: 100;
    background: black;
}

.search_form {
    display: flex;
    align-items: center;
    padding-top: 50px;

}

.search_form div {
    padding-right: 40px;
    display: flex;
    flex-direction: column;
}

.search_form_text, .search_form_number, .search_form_select, .search_form_btn_options {
    flex: 0 0 0;
}

.search_form_date {
    flex: 0 0 9em;
}

.search_form_submit {
    align-self: end;
}

.search_form_submit div {
    text-align: center;
    display: block;
}

.search_form label {
    padding-left: 5px;
    font-size: 14px;
    width: fit-content;
}

.search_form input[type="text"] {
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    height: 32px;
    width: 220px;
    margin-top: 5px;
}

.search_form input[type="date"] {
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    height: 32px;
    width: 125px;
    margin-top: 5px;
}

.search_form input[type="number"] {
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    height: 32px;
    width: 125px;
    margin-top: 5px;
}

.search_form select {
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    height: 32px;
    width: 125px;
    margin-top: 5px;
}

.search_form_options {
    margin-top: -130px;
    position: relative;
    z-index: 10;
    background: #00B2FF;
    padding-bottom: 25px;
    padding-top: 25px;
    justify-content: center;
    transition: margin-top 1s;
}

input[type="submit"] {
    cursor: pointer;
    width: auto;
    padding: 5px 35px;
    border: none;
    background: #FF0000;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

input[type="submit"]:hover {
    background: #FF00027A;
}
input[type="submit"]:active {
    background: #FF0000;
}

.search_form_btn_options img {
    cursor: pointer;
    width: 27px;
    height: 27px;
    margin-top: 5px;
    background: #00B2FF;
    border-radius: 25%;
    padding: 5px;
}

.context_menu {
    position: relative;
}

.context_menu div {
    display: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    background: white;
    color: black;
    position: absolute;
    padding: 10px 0;
    width: 240px;
}

.context_menu li {
    list-style-type: none;
    padding: 5px 10px;
    width: auto;
}

.context_menu li:hover {
    list-style-type: none;
    background: #00B2FF;
    color: white;
}

.searchIcon {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
}

.searchIcon img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.margin_top_up {
    margin-top: 0px;
    transition: 1s;
}