{% load static %}

* {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Inter';
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #00B2FF;

    background-image: url("../img/background_main.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    color: white;
    width: auto;
    display: flex;
    align-items: center;
    height: 100px;
    background: #004E70;
    padding-left: 60px;
    padding-right: 60px;
}

main {
    padding: 140px 60px 0px 60px;
    flex-grow: 1;
    width: auto;
}

main div h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

footer {
    display: flex;
    align-items: center;
    opacity: 50%;
    color: white;
    flex-shrink: 0;
    height: 50px;
    background: black;
}

footer p {
    text-align: center;
}

.logo {
    flex: 0 0 12em;
    height: 50px;
    font-style: italic;
    font-weight: 800;
    font-size: 24px;
    line-height: 44px;
}

.logo a, .logo a:visited {
    text-decoration: none;
    color: white;
}

.logo img {
    width: 43.84px;
    height: 41.34px;
}

.logo h1 {
    display: inline;
}

.menu {
    padding-left: 60px;
    font-weight: 300;
    font-size: 16px;
    line-height: 17px;
}

.menu a, .menu a:visited {
    text-decoration: none;
    color: white;
}

.login {
    display: flex;
    align-items: center;
    flex: 0;
}

.login a {
    display: flex;
    align-items: center;
    justify-content: end;
}

.login a:hover, .menu a:hover {
    color: yellow;
}

.login img {
    height: 28px;
    width: 28px;
}

.login a, .login a:visited {
    text-decoration: none;
    color: white;
}

.search_content {
    background: rgb(0, 0, 0, 0.5);
    color: white;
    width: auto;
    height: 200px;
    padding: 60px;
}

.search_form {
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.search_form div {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.search_form_text {
    flex: 0 0 15em;
}

.search_form_date {
    flex: 0 0 9em;
}

.search_form_submit{
    align-self: end;
}

.search_form_submit div {
    text-align: center;
    display: block;
}

.search_form label{
    padding-left: 5px;
    font-size: 14px;
}

.search_form input[type="text"]{
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    height: 32px;
    width: 220px;
    margin-top: 5px;
}

.search_form input[type="date"]{
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    height: 32px;
    width: 125px;
    margin-top: 5px;
}

input[type="submit"]{
    width: auto;
    padding: 5px 35px;
    border: none;
    background: #FF0000;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}