{% load static %}

<header>
    <div class="logo"><a href="/"><img src="{% static 'img/wing.svg' %}">
        <h1>FlyScanner</h1></a></div>
    <div class="menu">
        <ul class="menu-bar>">
            <li><a href="/">Главная</a></li>
            <li><a href="/">Контакты</a></li>
        </ul>
    </div>
    <div class="login">
        <ul class="login-bar">
            {% if user.is_authenticated %}
                <li><a href="{% url 'auth:edit' %}">
                        {{ user.email }} </a>
                </li>
                <li><a href="{% url 'auth:logout' %}">Выход</a></li>

            {% else %}
                <li><a href="{% url 'auth:login' %}">Вход</a></li>
                <li><a href="{% url 'auth:register' %}">Регистрация</a></li>
            {% endif %}
        </ul>
    </div>
</header>
