{% load static %}

<header>
    <div class="logo"><a href="/"><img src={% static "img/wing.svg" %}>
        <h1>FlyScanner</h1></a></div>
    <div class="menu">
        <a href="/">Главная</a> /
        <a href="/">Контакты</a> /
        <a href="/">Что-то</a>
    </div>
    <div class="login">
        <p>
            {% if user.is_authenticated %}
                <a href="{% url 'auth:edit' %}">
                    {{ user.username|default:"User"|capfirst }}
                </a>
            {% endif %}
        </p>
        </p>
        /
        <p>
        <p>
            {% if user.is_authenticated %}
                <a href="{% url 'auth:logout' %}">Выход</a>
            {% else %}
                <a href="{% url 'auth:login' %}">Вход</a>
            {% endif %}
        </p>
        /
        <p>
            <a href="{% url 'auth:register' %}">Регистрация</a>
        </p>
        <img src={% static "img/Login.png" %}>
    </div>
</header>
