{% extends "celestial_annucator/base.html"%}
{% load static %}


{% block scripts %}
<script src="{% static 'js/main.js' %}" type="module"></script>
{% endblock %}

{% block content %}
<main>
    <div class="search_content">
        <h2>Укажите маршрут, чтобы найти дешевые авиабилеты</h2>
        {% csrf_token %}
        <form class="search_form" id="formSearch">
            <div class="search_form_text">
                <label>Откуда</label>
                <input type="text" placeholder="Москва" name="fromCity">
            </div>
            <div class="search_form_text">
                <label>Куда</label>
                <input type="text" placeholder="Владивосток" name="toCity">
            </div>
            <div class="search_form_date">
                <label>Дата вылета</label>
                <input type="date" name="dateStart">
            </div>
            <div class="search_form_date">
                <label>Обратно</label>
                <input type="date" name="dateBack">
            </div>
            <div class="search_form_submit">
                <div>
                    <input type="submit" value="Найти авиабилет">
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}