{% extends "celestial_annucator/base.html"%}
{% load static %}

{% block css %}
<link href="{% static 'css/searchResult.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="{% static 'js/main.js' %}" type="module"></script>
{% endblock %}

{% block content %}
<main>
    <div class="content">
    <div class="search_content">
        <h2>Укажите маршрут, чтобы найти дешевые авиабилеты</h2>
        {% csrf_token %}
        <form class="search_form" id="formSearch">
            <div class="search_form_text">
                <label>Откуда</label>
                <input code ="" type="text" placeholder="Москва" name="originLocationCode" autocomplete="off">
                <div class="context_menu">
                    <div id="originLocationCode"></div>
                </div>
            </div>
            <div class="search_form_text">
                <label>Куда</label>
                <input code ="" type="text" placeholder="Владивосток" name="destinationLocationCode" autocomplete="off">
                <div class="context_menu">
                    <div id="destinationLocationCode"></div>
                </div>
            </div>
            <div class="search_form_date">
                <label>Дата вылета</label>
                <input type="date" name="departureDate">
            </div>
            <div class="search_form_date">
                <label>Обратно</label>
                <input type="date" name="returnDate">
            </div>
            <div class="search_form_submit">
                <div>
                    <input type="submit" value="Найти авиабилет">
                </div>
            </div>
        </form>
    </div>
    </div>
    <div id="outputSearch"></div>
</main>

{% endblock %}