{% extends "celestial_annucator/base.html"%}
{% load static %}

{% block css %}
<link href="{% static 'css/registration.css' %}" rel="stylesheet">
{% endblock %}

{% block content%}
<main>
    <form>
        <div>
            <label>Логин</label>
            <input type="text"
                   placeholder="User@example.ru">
        </div>
        <div>
            <label>Пароль</label>
            <input type="password" placeholder="password">
        </div>
        <div class="div_login_submit">
            <input type="submit" value="Регистрация">
        </div>

        <a href="/auth/login/">Войти</a>

    </form>
</main>
{% endblock %}